.pdf_container {

    .page-div {
        position: relative;
        text-align: center;
    }
    .canvas-wrapper {
        display: inline-block;
        position: relative;
        margin: 5px;
        cursor: pointer;
    }
    .pager-canvas-wrapper {
        text-align: center;
        cursor: pointer;
        margin: 20px;
        position: relative;
    }
    .marker_hover{
        background-color: #6DADCB !important;
    }
    .active {
        border: 2px solid lightblue;
        font-weight: bold;
        box-shadow: 0 0 15px 5px lightblue;
        transition: all 0.3s ease;
    }
    #page-list {
        list-style: none;
    }
    #pdf-container {
        height: 90vh;
        overflow-y: auto;
        text-align: center;
    }
    #description_container {
        cursor: pointer;
        overflow-y: auto;
        max-height: 90vh;
    }
    .table{
        cursor: pointer;
    }
    .table > thead {
        background-color: white;
    }
    .img_marker {
        animation: pulse-animation 3s infinite;
        width: 12px;
        height: 12px;
        background-color: #bd5050;
        border-radius: 50%;
        cursor:pointer;
        position:absolute;
      }
      
    @keyframes pulse-animation {
        0% {
            box-shadow: 0 0 0 0px rgba(223, 30, 30, 0.2);
            width: 12px;
            height: 12px;
        }
        100% {
            box-shadow: 0 0 0 15px rgba(194, 20, 20, 0);
            width: 12px;
            height: 12px;
        }
      }
}
